<body style="background-color:DarkRed;">

<h1>Error</h1>

<p> We could not make your transaction or get the user balance successfully. Check that you are providing correct keys. </p>
<p> Also, there might be an issue with the server that provides blockchain service. </p>

<%= form_tag do%>

    <p> <%= submit_tag "Go back" %> </p>
<% end%>
</body>