
<h1>Success</h1>
<%= image_tag("success.png", size: "200x200", alt: "rss feed", class:"center") %>
<p> We made your transaction. </p>


<%= form_tag do%>

    <p> <%= submit_tag "Go back" %> </p>
<% end%>